<% file = File.read('/home/akash/BlogVault/testjobs/files/performance_report/2/9/yslow_report.txt') %>
<% data = JSON.parse(file)  %>



<h2>YSlow Score : <%= data["score"] %></h2>
<% allResults = data["resultSet"]["results"] %>

<ol>
<% allResults.each do |eachResult| %>
	<li><%= eachResult["name"] %></li>
	<ul>
		<li><strong> Score :  </strong><%= eachResult["score"] %></li>
		<%= "<li><strong> Message :  </strong>#{eachResult["message"]}</li>".html_safe if eachResult["score"]!=100 %>
		<ul>
			<% eachResult['components'].each do |eachComponent| %>
				<% if eachComponent.class == Hash %>
					<li><a href='<%= eachComponent["url"] %>'><%= eachComponent["url"] %></a></li>
				<% else %>
					<li><%= eachComponent %></li>
				<% end %>
			<% end %>
		</ul>
	</ul>
<% end %>
</ol>
